// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.c-card{
    color: #f2d2a1 !important;
    border-color: #f2d2a1 !important;
    background-color: #bc8684 !important;

}
.c-card:hover {
    color: black !important;
    background-color: #f2d2a1 !important;
    border-color: #f2d2a1 !important;
}
.bg-page{
    background-color: #ffab9e!important;
}
.c-text{
    color: white !important;
}

// @import 'index';